<%= form_for([erp_electrical, :backend, blog], html: {multipart: true}) do |f| %>
    <div class="row">
        <div class="col-md-12">
            <%= erp_form_control('image', {
                img_src: blog.image.system,
                name: 'blog[image]',
                width: 150,
                height: 150,
                select: t('.image_select'),
                update: t('.image_update')
            }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <%= erp_form_control("text", {
                                name: 'blog[title]',
                                value: blog.get_title,                   
                                label: t('.title'),
                                placeholder: t('.placeholder_title'),
                                required: true,
                                errors: blog.errors.full_messages_for(:title)
                            }) %>
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <%= erp_form_control("text", {
                                name: 'blog[name]',
                                value: blog.get_name,                   
                                label: t('.name'),
                                placeholder: t('.placeholder_name'),
                                required: true,
                                errors: blog.errors.full_messages_for(:name)
                            }) %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <%= erp_form_control("textarea", {
                                name: 'blog[short_description]',
                                value: blog.short_description,                   
                                label: t('.short_description'),
                                placeholder: t('.placeholder_short_description')
                            }) %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <%= erp_form_control("textarea", {
                                name: 'blog[meta_keywords]',
                                value: blog.meta_keywords,                   
                                label: t('.meta_keywords'),
                                placeholder: t('.placeholder_meta_keywords')
                            }) %>
                        </div>
                        <div class="col-md-6">
                            <%= erp_form_control("textarea", {
                                name: 'blog[meta_description]',
                                value: blog.meta_description,                   
                                label: t('.meta_description'),
                                placeholder: t('.placeholder_meta_description')
                            }) %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <%= erp_form_control("text", {
                                name: 'blog[tags]',
                                value: blog.tags,                   
                                label: t('.tags'),
                                placeholder: t('.placeholder_tags')
                            }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <%= erp_form_control("editor", {
                        name: 'blog[content]',
                        value: blog.content,
                        label: t('.content')
                    }) %>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', { text: t('.submit') }) %>
    <%= erp_component('button/cancel', { text: t('.cancel'), href: erp_electrical.backend_blogs_path }) %>
<% end %>