<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <% if get_columns(params).include?("image") %>
                <th class="text-left" width='15%'><%= t('image') %></th>
            <% end %>
            <% if get_columns(params).include?("name") %>
                <th class="text-left" width='40%'><%= t('.name') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="text-center"><%= t('created_at') %></th>
            <% end %>
            <th width="7%" class="sortable text-nowrap text-center" sort-by='erp_electrical_blogs.custom_order'>
                <%= t('.custom_order') %>                
            </th>
            <th class="text-right" width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @blogs.each do |blog| %>
            <tr class="odd gradeX">
                <% if get_columns(params).include?("image") %>
                    <td class="text-left">
                        <% if !blog.image.nil? %>
                            <img class="image-datalist" src="<%= blog.image %>" width="150px" height="auto">
                        <% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("name") %>
                    <td class="text-left">
                        <%= link_to blog.get_name, erp_electrical.edit_backend_blog_path(blog), class: 'title' %>
                        <% if blog.alias.present? %><br><strong>Alias: </strong><em><%= blog.alias %></em><% end %>
                        <% if blog.title.present? %><br><em><strong>Tiêu đề trang (<%= blog.get_title.length %>): </strong><%= blog.get_title.html_safe %></em><% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td class="text-center"><%= blog.created_at.strftime("%d-%m-%Y") %></td>
                <% end %>
                <td class="text-center text-semibold">
                    <%= blog.custom_order %>
                    <% if params[:sort_by] == 'erp_electrical_blogs.custom_order' %>
                        <a data-method="PUT" 
                           href="<%= params[:sort_direction] == 'asc' ? erp_electrical.move_up_backend_blogs_path(id: blog) : erp_electrical.move_down_backend_blogs_path(id: blog) %>"
                           class="ajax-link">
                           <i class="fa fa-caret-square-o-up icon-big"></i>
                        </a>
                        <a data-method="PUT"
                           href="<%= params[:sort_direction] == 'asc' ? erp_electrical.move_down_backend_blogs_path(id: blog) : erp_electrical.move_up_backend_blogs_path(id: blog) %>"
                           class="ajax-link">
                           <i class="fa fa-caret-square-o-down icon-big"></i>
                        </a>
                    <% end %>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-cog"></i><%= t('core.options') %><i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><%= link_to '<i class="fa fa-edit"></i>'.html_safe + t('.edit'), 
                                    erp_electrical.edit_backend_blog_path(blog) %></li>
                            <li class="divider"></li>
                            <li><%= link_to '<i class="fa fa-trash"></i>'.html_safe + t('.delete'), 
                                    erp_electrical.backend_blog_path(blog), method: 'DELETE', data: {confirm: t('delete_confirm')}, class: 'ajax-link' %></li>
                        </ul>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @blogs.empty? %><div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div><% end %>
<%= erp_datalist_pagination(@blogs) %>