<% content_for :title do %><%= t('.create') %><% end %>
<% content_for :page_title do %>
    <a href="<%= erp_electrical.backend_service_categories_path %>"><i class="fa fa-rss"></i> <%= t('.service_categories') %></a> / 
    <%= t('.create') %><% end %>
<% content_for :page_toolbar do %><div class="btn-group"><div class="clearfix"></div></div><% end %>
<div class="row">
    <div class="col-md-12">
        <% if @service_category.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        <%= render 'form', service_category: @service_category %>
    </div>
</div>