<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Điện Nước Trần Chí &#8211; Thợ Sửa Chữa Điện Nước Tại Biên Hòa</title>
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="/img/favicon/favicon.ico" sizes="any">
        <link rel="icon" href="/img/favicon/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/img/favicon/manifest.webmanifest">
        <%= stylesheet_link_tag '/css/loader-color-3.css' %>
        <%= stylesheet_link_tag '/css/plugins.css' %>
        <%= stylesheet_link_tag '/css/main.css' %>
        <%= stylesheet_link_tag '/css/color-3.css' %>
        <meta name="theme-color" content="#6642FA">
        <meta name="msapplication-navbutton-color" content="#6642FA">
        <meta name="apple-mobile-web-app-status-bar-style" content="#6642FA">
    </head>
    <body>
        <!--[if lt IE 9]>
            <%= javascript_include_tag '/js/libs/es5-shim.min.js' %>
            <%= javascript_include_tag '/js/libs/html5shiv.min.js' %>
            <%= javascript_include_tag '/js/libs/html5shiv-printshiv.min.js' %>
            <%= javascript_include_tag '/js/libs/respond.min.js' %>
        <![endif]-->
        <section id="main" class="section-main">
            <div class="container-fluid p-0 fullheight">
                <div class="row g-0 fullheight">
                    <div id="intro" class="col-12 col-xl-9 section-main__intro">
                        <div class="intro__media">
                            <div class="media__image media-3_1"></div>
                            <div class="color-layer color-layer-medium"></div>
                            <div id="polygons-js"></div>
                        </div>
                        <div class="intro__header">
                            <div class="logo">
                                <%= image_tag '/img/logo-white.png' %>
                            </div>
                        </div>
                        <div class="intro__headline">
                            <p class="headline__subtitle">Điện Nước</p>
                            <!-- Animated Headline Start -->
                            <h1 class="headline__title clip">
                                <span class="words-wrapper">
                                    <b class="is-visible">Trần Chí</b>
                                </span>
                            </h1>
                            <div class="headline__btnholder">
                                <a href="<%= erp.backend_path %>" class="button button-solid-light">
                                    <span class="button-caption">Truy Cập Trang Quản Trị</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3 section-main__aside">
                        <div class="aside__content">
                            <p class="aside__title">ĐIỆN NƯỚC TRẦN CHÍ</p>
                            <p class="aside__text" style="text-align:justify;">Tự hào là đơn vị chuyên cung cấp các dịch vụ lắp đặt sửa chữa điện nước tại TP. Biên Hòa, Đồng Nai. Đơn vị sửa chữa điện nước uy tín, được nhiều khách hàng đánh giá cao.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%= javascript_include_tag '/js/libs.min.js' %>
        <%= javascript_include_tag '/js/gallery-init.js' %>
        <%= javascript_include_tag '/js/custom.js' %>
    </body>
</html>